.dental-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
}

.dental-row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.tooth,
.mtooth {
  position: relative;
  margin: 0 5px;
}

.text-box {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-box input {
  width: 80%;
  margin: 5px 0;
}

.number-container {
  position: relative;
  margin-bottom: 5px; /* Adjust as needed */
}

.tooth-number {
  position: absolute;
  text-align: center;
  width: 100%;
  /* Add other styles as needed */
}

.selection-list {
  bottom: 0;
  left: 110%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  margin-top: 40px;
  padding-top: 80px;
  padding-left: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 70px;
}

.selection-list ul {
  list-style-type: none;
  padding: 0;
}

.selection-list li {
  margin: 10px 0;
}

button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px; /* Adjust this value to change the distance from the bottom */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #008cba;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #005f5f;
}
