.case{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.CScases{
    padding-top: 10px;
}

.cssect1{
    font-size: 20px;
    color:rgb(172, 4, 37);
    padding-top: 30px;
    padding-left: 150px;
}
.casesubheading{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.casedes{
    text-align: center;
    font-size: 20px;
}
.card{
    padding-top: 10px;
}

.CScards{
    text-align: center;
    align-self: center;
    padding-left: 100px;
    max-width: '50rem';
    padding-top: 20px;
}

.cstopic1{
    padding-left: 500px;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.phcardsd{
    padding-top: 10px;
    text-align: center;
    align-self: center;
    padding-left: 100px;
    max-width: '200px';
    height: '1000px';
}

.phcardDesc{
    padding-top: 50px;
    text-align: center;
    align-self: center;
    padding-left: 100px;
    max-width: '50rem';
}

.choose{
    background-color: rgb(143, 217, 240);
    font-size: 20px;
}
.dropdown{
    padding-top: 10px;
    text-align: center;
    padding-left: 5px;
}

.phddown1{
    width: 50px;
    padding-top: 50px;
    padding-left: 30px;
}
.NextChip{
    padding-right: 10px;
    padding-left: 900px;
}

.phqna{
    max-width: 180rem;
    padding-right: 0px;
    padding-top: 50px;
    padding-left: 20px;
}

.middletext{
    text-align: center;
    padding: 20px;
    
}

.phsect2{
    color: brown;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    width: 500px;
    font-size: 25px;
    
}

.caseBtn{
    padding-top: 25px;
}

.back{
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    border-radius: 50px;
    background-color: rgb(26, 91, 189);
    border-color: blue;
}

.backbtn{
    padding-left: 30px;
}

.exmbtncs{
    padding-right: 30px ;
}
.exmbtn{
    padding-left: 200%;
}

.exmchip{
    text-align: center;
    height: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 100px;
    border-radius: 50px;
    background-color: rgb(26, 91, 189);
    border-color: blue;
}

.InExamsect{
    padding-top: 5px;
    align-items: center;
    padding-left: 300px;
}

.Intopic{
    font-weight: bold;
    font-size: 50px;
    color: darkblue;
    padding-top: 10px;
    padding-left: 500px;
}

.instr{
    padding-top: 150px;
}

.contThr{
    padding-top: 10px;
    align-items: center;
    padding-left: 30px;
    color: rgb(29, 94, 105);
}

.invGif{
    padding-left: 400px;
}

.navText{
    font-size: 20px;
}

.contOne{
    padding-top: 100px;
    align-items: center;
    padding-left: 450px;
}

/* PHT */

.phtopic1{
    padding-left: 430px;
    padding-top: 20px;
    font-size: 45px;
    font-weight: bold;
    color: rgb(13, 13, 128);
}
.phtopic2{
    padding-left: 200px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.phsect1{
    padding-top: 10px;
}

.phddown2{
    padding-top: 0px;
    padding-left: 50px;
}